*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "Expletus-Sans";
  /*font-weight: 1000;*/
  src: url("../fonts/ExpletusSans.ttf");
}
body{
    font-family: Expletus-Sans;
    background-color: white;
}
@media screen and (max-width:600px){
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 1rem;
}
.head {
  display: flex;
  /* margin-left: -1rem; */
  transition: all 0.3s ease-in-out;
}
.head.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42%;
  margin: 0;
}
/* #close {
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#close.active {
  font-size: 1.5rem;
  visibility: visible;
  cursor: pointer;
} */
.head-title {
    letter-spacing: 1px;
    font-size: 2rem;
}

header img{
    width: 28px;
    cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-text {
  font-size: 1.5rem;
  margin: .3rem 0;
}

.dash-menu {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 1.5rem 0;
  border: 1px solid rgb(219, 218, 218);
  padding: .3rem 2.5rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 3px .2px rgb(223, 223, 223);
}

.dash-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-indicator {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: none;
  background-color: #329932;
  margin-top: .1rem;
  display: none;
}

.dash-child:first-child .active-indicator {
  display: block;
}

.add-products-cont {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-text {
  font-size: 1.1rem;
  font-weight: bolder;
}

.add-product {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #329932;
}

.product-cont {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .6rem auto;
}

.product-image {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: .5rem;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.product-details {
  width: 14rem;
}

.product-details .name {
  font-size: .9rem;
  font-weight: bolder;
}

.product-details .desc {
  font-size: .7rem;
  opacity: .5;
}

.view-product-btn {
  padding: .4rem 1.2rem;
  background-color: #329932;
  border: none;
  border-radius: .3rem;
  color: #fff;
  transition: all .2s ease-in-out;
}

.view-product-btn:hover {
  background-color: #198f19;
}
}